In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')

In [3]:
df=df.drop('User ID', axis=1)

In [4]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [5]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [6]:
Y=df['Purchased']
X=df.drop('Purchased', axis=1)

In [7]:
X

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [8]:
X=pd.get_dummies(X)

In [9]:
X

     Age  EstimatedSalary  Gender_Female  Gender_Male
0     19            19000              0            1
1     35            20000              0            1
2     26            43000              1            0
3     27            57000              1            0
4     19            76000              0            1
..   ...              ...            ...          ...
395   46            41000              1            0
396   51            23000              0            1
397   50            20000              1            0
398   36            33000              0            1
399   49            36000              1            0

[400 rows x 4 columns]

In [10]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [11]:
print('X=', X.shape)
print('Y=', Y.shape)
print(Y.value_counts())

X= (400, 4)
Y= (400,)
0    257
1    143
Name: Purchased, dtype: int64

# Splitting data into Train and Test data

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test= train_test_split(X, Y, train_size=0.8, random_state=42)

In [14]:
print('x train:',x_train.shape)
print('x test',x_test.shape)
print('y train',y_train.shape)
print('y test', y_test.shape)

x train: (320, 4)
x test (80, 4)
y train (320,)
y test (80,)

In [15]:
print(y_train.value_counts())
print(y_test.value_counts())

0    205
1    115
Name: Purchased, dtype: int64
0    52
1    28
Name: Purchased, dtype: int64

# Scaling

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.dummy import DummyClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.ensemble import BaggingClassifier

from sklearn.model_selection import StratifiedKFold

In [19]:
#pipe=Pipeline([('standardscaler', StandardScaler()),('classifier', BaggingClassifier())])
pipe=Pipeline([('classifier', BaggingClassifier())])

grid_param=[
                {
                    'classifier': [LogisticRegression()],
                    'classifier__penalty':['l2','l1'],
                #    'classifier__C':np.logspace(0,4,10)
                },
                {
                    'classifier':[SVC()],
                    'classifier__kernel':['rbf'],
                    'classifier__gamma':[0.001,0.0001,0.01,0.1, 0,1,10,100,1000,10000],
                    'classifier__C':[0.001,0.0001,0.01,0.1, 0,1,10,100,1000,10000],
                    #'classifier__degree':np.arange(0,11),
                    #'classifier__coef0':[0,1,2,3,4,5]
                },
                {
                    'classifier':[DecisionTreeClassifier()],
                    'classifier__max_leaf_nodes':np.arange(1,11),
                #    'classifier__max_depth':np.arange(1,21)
                },
                {
                    'classifier':[RandomForestClassifier()],
                    'classifier__n_estimators':np.arange(50,1050,50),
                    'classifier__max_leaf_nodes':np.arange(1,21),
                    'classifier__max_depth':np.arange(1,21)
                },
                {
                #    'classifier':[XGBClassifier()],
                #    'classifier__n_estimators':np.arange(50,1050,50),
                #    'classifier__max_leaf_nodes':np.arange(1,21),
                #    'classifier__max_depth':np.arange(1,21)
                }
]

In [20]:
from sklearn.model_selection import StratifiedKFold

skf=StratifiedKFold(n_splits=3, random_state=None)

In [21]:
grid_search= GridSearchCV(pipe, grid_param, cv=skf, verbose=4, n_jobs=-1, scoring='f1_macro')
best_model=grid_search.fit(x_train, y_train)

Fitting 3 folds for each of 8113 candidates, totalling 24339 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:    2.1s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1147 tasks      | elapsed:   55.4s
[Parallel(n_jobs=-1)]: Done 1413 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 1682 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 2001 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 2368 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 2785 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 3250 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 3765 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 4328 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 4941 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 5602 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 6313 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 7072 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 7881 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 8738 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 9645 tasks      | elapsed: 10.9min
[Parallel(n_jobs=-1)]: Done 10600 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 11605 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 12658 tasks      | elapsed: 14.4min
[Parallel(n_jobs=-1)]: Done 13761 tasks      | elapsed: 15.6min
[Parallel(n_jobs=-1)]: Done 14912 tasks      | elapsed: 17.0min
[Parallel(n_jobs=-1)]: Done 16113 tasks      | elapsed: 18.3min
[Parallel(n_jobs=-1)]: Done 17362 tasks      | elapsed: 19.8min
[Parallel(n_jobs=-1)]: Done 18661 tasks      | elapsed: 21.2min
[Parallel(n_jobs=-1)]: Done 20008 tasks      | elapsed: 22.8min
[Parallel(n_jobs=-1)]: Done 21405 tasks      | elapsed: 24.5min
[Parallel(n_jobs=-1)]: Done 22850 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 24339 out of 24339 | elapsed: 27.9min finished

In [22]:
print(best_model.best_estimator_)

Pipeline(steps=[('classifier',
                 RandomForestClassifier(max_depth=14, max_leaf_nodes=5,
                                        n_estimators=50))])

In [23]:
print(best_model.best_params_)

{'classifier': RandomForestClassifier(max_depth=14, max_leaf_nodes=5, n_estimators=50), 'classifier__max_depth': 14, 'classifier__max_leaf_nodes': 5, 'classifier__n_estimators': 50}

In [24]:
print(best_model.best_score_)

0.9136043626059583

In [38]:
dic={}

for p,s in zip(best_model.cv_results_['params'],best_model.cv_results_['mean_test_score']):
    dic[s]=p
    #print(s,p)
#for p,s in sorted(dic, reverse=True):
#    print(s,p)
for zzz in sorted(dic, reverse=True):
    print(zzz,dic[zzz])

TypeError: list indices must be integers or slices, not float

In [26]:
from sklearn.model_selection import cross_val_predict

y_train_pred = cross_val_predict(best_model.best_estimator_, x_train, y_train, cv=5)

In [27]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_train, y_train_pred)

array([[185,  20],
       [  9, 106]], dtype=int64)

In [28]:
from sklearn.metrics import classification_report

print(classification_report(y_train, y_train_pred))

              precision    recall  f1-score   support

           0       0.95      0.90      0.93       205
           1       0.84      0.92      0.88       115

    accuracy                           0.91       320
   macro avg       0.90      0.91      0.90       320
weighted avg       0.91      0.91      0.91       320